<h1>Mongo Db App</h1>

<p> This mongo db application uses mongo db and keeps track of http requests to itself
 stored in a Mongodb local instance.
 </p> 

 <h2> Usage </h2>

<p> To use this application register a user and password. Any user or password will do.
<p>Register <a href="/register">here.</a></p>
</p>
<p> If you do not have an accound, login will redirect you to create a user/password.</p>

<p>Login <a href="/login">here.</a></p>
<p>Logout <a href="/logout">here.</a></p>