<h1>Mongo Db App</h1>

<p>You are logged into the application</p>


<h2>User and Status</h2>
<p>User: <%= username %></p>
<p>Logged in: <%= loggedIn %></p>
 
<p><a href="/access">See Access Database</a></p> 
<p><a href="/logout">Logout</a></p>