<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>

<body> 
    <form  method="POST" action="/register">
        <h1>  Register New User </h1>
        <div>
            <input type="text"  placeholder="username" name="username">
        </div>
        <div>
            <input type="password"  placeholder="Password" name="password" required>
        </div>
        <br> 
        <button type="submit" >Sign Up</button>
        <a href="/login" >Login</a>
    </form>


</body>

</html>